.row
  .small-8.small-centered.columns#play_container
    %h3 Enter an Actor in:
    #play_movie
    =text_field_tag :entered_actor
    =link_to("Enter", play_game_path, :class => "button radius", :id => "entered_actor_btn")