html {
  background: none;
}
#play_container {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.top-bar {
  margin-bottom: 0;
}

.scoreboard {
  font-family: 'Graduate', cursive;
  font-size: 28px;
  width: 270px;
  color: gold;
  height: 305px;
  background: red;
  border: 5px solid black;
  text-align: center;
  #player{
    position: relative;
    top: 65px;

    #player_score {
      margin-top: 30px;
      color: white;

    }
  }
  #computer{
    margin-top: 20px;
    #computer_score {
      margin-top: 30px;
      color: white;
    }
  }
}

#myModal {
  text-align: center;
  #play_again_btn {
    margin-top: 20px;
  }
  #modalScoreboard {
  .scoreboard {
    margin: auto;
    }
  }
}
#pageScoreboard {
  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
  display: inline-block;
  position: absolute;
  right: -60%;
  top: 0;
  z-index: 5;
  text-align: center;
  vertical-align: middle;
}
#rule_list{
  margin-left: 18px;
}

#header {
  background: url("/assets/marquee_main.png")
   bottom;
   background-repeat: none;
  height: 150px;
  text-align: center;
  line-height: 20px;
  h1 {
    margin: 0px;
    color: rgb(255, 31, 0);

    font-family: 'Codystar', cursive;
    font-size: 75px;
    position: relative;
    top: 32px;
  }
}

a#home-link #home-link-img{
  height: 100%;
  width:  45px;
}

.strokeme
{
  color: white;
  text-shadow:
  -1px -1px 0 gold,
  1px -1px 0 gold,
  -1px 1px 0 gold,
  1px 1px 0 gold;
}

h1, h3, h2 {
  font-family: 'Limelight', cursive;
  font-weight: normal;
}

.row {
  background: gold;
  font-family: 'Ruda', sans-serif;
}

body {
  background: rgb(255, 31, 0);
}

#movie_title {
  font-size: 25px;
  color: rgb(255, 31, 0);
}

.ui-menu-item {
  font-family: 'Ruda', sans-serif;
}

.top-bar-section li a:not(.button) {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}
