  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Jane Sternbach 2013.</p>
        </div>
      </div>
    </div>
  </footer>